
.container{





    padding-top: 100px;
             
             padding-left: 400px;
           background-color: rgba(241,192,28);
           color: #000;
  }
  .container:hover{ background-color: black;
                  color: rgba(241,192,28);
               transition: all 1s;
  
  
  }
  .pic:hover{ background-color: black;
             color: rgba(241,192,28);
  
  
  
  }